.grid {
  display: grid;
  gap: 20px;
}

.mobileGrid {
  grid-template-columns: 1fr;
  padding: 0 20px;
}

.desktopGrid {
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px;
}

.card {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FBF9F7;
  transition: transform .6s ease;
}

.mobileCard {
  cursor: pointer;
}

.hidden {
  transform: translateY(60px);
}

.visible {
  transform: translateY(0);
}

.bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cardContent {
  z-index: 2;
  background: #0D2430;
  border-radius: 0 25px 0 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #F7FFDF;
}

.mobileContent {
  width: 100%;
}

.desktopContent {
  width: 80%;
}

.title {
  margin: 0;
  transition: transform .4s cubic-bezier(.4,2,.3,1);
  font-size: 1.5rem;
  cursor: pointer;
}

.titleOpen {
  transform: translateY(-10px);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #F7FFDF;
  opacity: .3;
  margin: 12px 0;
}

.desc {
  width: 100%;
  overflow: hidden;
  text-align: left;
  padding-left: 20px;
  transition:
    max-height .4s cubic-bezier(.4,2,.3,1),
    opacity .3s;
}

.hiddenDesc {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.visibleDesc {
  max-height: 120px;
  opacity: 1;
  pointer-events: auto;
}

.mobileDesc {
  background: #0D2430;
  cursor: pointer;
}

.desktopDesc {
  background: transparent;
}
.iconWrapper {

  width: auto;
  height: auto;
  background: #CDEC76;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;


}

.iconCircle {
  width: 70px;
  height: 70px;
  background: #CDEC76;
  border-radius: 30%;
  object-fit: contain;
  padding: 5px;


}

.ak3 {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
  opacity: .5;
}

.ak3Open {
  opacity: 1;
}



.textOverlaySub {
  margin-top: 10px;
  color: #CDEC76;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  transition: color 0.2s ease; 
    cursor: pointer;
}

.textOverlaySub:hover {
  color: #fff; 
}

.textOverlaySub svg {
  transition: fill 0.2s ease, stroke 0.2s ease;
}

.textOverlaySub:hover svg{
    transform: translateX(5px);

}


.arrowWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}
