.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background: 
    linear-gradient(180deg, rgba(0, 13, 19, 0.949) 0%, rgba(40, 70, 78, 90) 100%),  /* Mudar transparan ke bawah */
    url('https://nda.co.id/wp-content/uploads/2025/02/2.png') no-repeat center center;
  background-size: cover;  min-height: 500px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 30px;
}

.sectionMobile {
  flex-direction: column;
  padding: 0px;
}

.left {
  flex: 1;
  padding: 50px;
  color: #fff;
  font-family: sans-serif;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease 0.5s;}

.left.animate {
  opacity: 1;
  transform: translateY(0);
}

.badge {
  display: inline-block;
  color: #cdec76;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid;
  background-color: transparent;
  margin-bottom: 20px;
}

.badgeMobile {
  margin-top: -100px;
  margin-left: 13%;
}

.heading {
  margin: 0;
  line-height: 1;
  width: 100%;
  font-size: 4rem;
}

.headingMobile {
  font-size: 3rem;
  margin-left: 2%;
  text-align: center;
}

.text {
  margin: 20px 0;
}

.textMobile {
  text-align: center;
}

.getStarted {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background-color: #cdec76;
  color: #0d2430;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  width: fit-content;
}

.getStarted:hover {
  background-color: white;
}

.getStarted:hover .arrow {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

/* Right section */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease 0.5s;
}

.right.animate {
  opacity: 1;
  transform: scale(1);
}

.rightMobile {
  margin-top: 60px;
  padding-top: 0;
}

.infoBlock {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 5px;
  background-color: transparent;
}

.infoBlockMobile {
  top: -10px;
}

.infoButton {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #cdec76;
  margin-top: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c2b4e;
  align-self: flex-start;
}

.infoButtonMobile {
  visibility: hidden;
  align-self: center;
}

.infoText {
  background-color: transparent;
  color: #fff;
  line-height: 1.5;
  font-size: 1rem;
  margin-left: 2px;
}

.infoTextMobile {
  font-size: 1.2rem;
  visibility: hidden;
}

.image {
  max-width: 90%;
  height: 80%;
  border-radius: 10px;
  margin-top: 100px;
  padding-left: 30px;
}

.imageMobile {
  margin-top: -100px;
  padding-left: 0;
}

.experience {
  position: absolute;
  background-color: #cdec76;
  color: #0d2430;
  padding: 15px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: center;
  width: fit-content;
  height: fit-content;
  right: 90px;
  top: 390px;
  font-size: 1.2rem;
}

.experienceMobile {
  top: 30px;
  right: 50px;
  font-size: 1rem;
}

.experienceNumber {
  display: block;
  font-weight: bold;
  color: #28464e;
  font-size: 2.5rem;
}

.experienceNumberMobile {
  font-size: 2rem;
}

.experienceText {
  margin: 0;
  color: #28464e;
  font-size: 1rem;
}

.experienceTextMobile {
  font-size: 0.7rem;
}

@media (max-width: 768px) {

  .container{ 
    background-size: 500% auto !important;  /* Membuat gambar lebih besar dengan !important */
    background-position: top center !important; /* Fokuskan gambar ke bagian atas */
    }
    .section{
        padding: 0px;
    }
    .getStarted{
        margin-left: 35px;
    }
 
}