.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
background: 
    linear-gradient(180deg, rgba(40, 70, 78, 10) 5%, rgba(255, 255, 255, 10) 90%), /* Gelapin gradasi */
    url('https://nda.co.id/wp-content/uploads/2025/02/2.png') no-repeat center center;
background-size: cover;

}


.sectionMobile {
  flex-direction: column;
}

.sectionDesktop {
  flex-direction: row;
}

.leftCard {
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  max-width: 400px;
  margin-top: 0;
  height: 260px;
  opacity: 0;
  transform: translateY(50px); /* dari bawah */
  transition: all 0.5s ease;
}


.leftCardMobile {
  flex: 0 0 80%;
  margin-top: 20px;
  height: 260px;
}

.leftCardDesktop {
  flex: 0 0 30%;
  margin-top: 0;
  height: 286px;
}


.leftCardAnimate {
  opacity: 1;
  transform: translateY(0); /* posisi final */
}




.leftCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.textOverlay {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: left;
  width: 100%;

}.textOverlaySub {
  margin-top: 10px;
  color: #CDEC76;
  display: flex;
  align-items: center;     /* center vertikal teks + panah */
  gap: 5px;                /* jarak */
  font-size: 1rem;
}

.textWrapper {
  display: inline-block;
}

.textWrapper:hover {
  color: #fff;
}


.arrowWrapper {
  display: inline-flex;     /* inline-flex supaya ikut aliran teks */
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;         /* pastikan div tidak collapse */
  min-height: 20px;
}

.arrowWrapper:hover{
  color: #fff;
}

.arrowWrapperBottom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px; /* jarak dari teks */
}

.rightContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-radius: 35px;
  background: #0D2430;
  opacity: 0;
  transform: translateY(50px); /* dari bawah */
  transition: all 0.5s ease;
  height: auto;
}


.rightContainerMobile {
  flex-direction: column;
  flex: 0 0 80%;
}

.rightContainerDesktop {
  flex-direction: row;
  flex: 0 0 66%;
}

.rightContainerAnimate {
  opacity: 1;
  transform: translateY(0); /* posisi final */
}


.contactCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #F7FFDF;
  font-weight: bold;
  /* border: 1px solid transparent; */
  text-align: left;
  border-radius: 35px;
  height: 250px;
  background: #0D2430;
  margin-bottom: 0;
  max-width: calc(33% - 10px);
  flex: 1 1 0;
}

.middleCardDivider {
  border-right: 2px solid rgba(255,255,255,0.2); /* garis halus */
  padding-right: 20px; /* kasih space biar ga mepet */
  border-radius: 0;
}


.leftMostCard {
  background: #FFFFFF0A; /* contoh warna beda */
  
}


.contactCardMobile {
  max-width: 100%;
  flex: 0 0 100%;
  margin-bottom: 10px;
}

.contactIcon {
  margin-bottom: 10px;
  width: 65px;
  height: 70px;
  background: #CDEC76;
  border-radius: 50%;
  padding: 10px;
  object-fit: contain;

}

.contactTitle {
  margin-bottom: 5px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contactDescription {
  font-weight: normal;
  font-size: 0.9rem;
  color: white;
  text-align: left;
    margin-bottom: 10px;

}


@media screen and (max-width: 768px) {

.contactCard {
    align-items: center;     /* supaya icon + title + text berada di tengah */
    text-align: center;      /* supaya teks pusat */
  }
  .contactDescription {
    text-align: center;
  }
  .contactIcon{
    height: 60px;
    width: 55px;
    padding: 5px;
  }
  .middleCardDivider {
  border-bottom: 2px solid rgba(255,255,255,0.2); /* garis halus */
  padding-bottom: 20px; /* kasih space biar ga mepet */
  border-radius: 0;
  border-right: transparent;
}
.gradientOverlay {
  bottom: 3%;
}
.leftCard{
    margin-bottom: 10px;
}


 
}