/* KontakContent.module.css */

.kontak-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
 background: 
    linear-gradient(180deg, rgba(0, 13, 19, 0.949) 0%, rgba(40, 70, 78, 90) 100%),  /* Mudar transparan ke bawah */
    url('https://nda.co.id/wp-content/uploads/2025/02/2.png') no-repeat center center;
  background-size: cover;  
  padding: 60px 20px;
}

.kontak-header {
  display: inline-block;
  color: #CDEC76;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #3e3f3bff;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: bold;
}

.kontak-title {
  font-size: 4rem;
  margin: 0;
  color: white;
  margin-top: -8px;
  font-weight: bold;
  line-height: 1;
}

.kontak-subtitle {
  font-size: 1rem;
  max-width: 700px;
  margin: 0;
  color: white;
  margin-bottom: 60px;
  padding: 10px;
}


/* =======================
   MARQUEE WRAPPER
======================= */
.marqueeWrapper {
  margin-top: 24px;
  width: 100%;
  overflow: hidden;
  background-color: #cdec76;
  border-top: 2px solid #cdec76;
  border-bottom: 2px solid #cdec76;
  padding: 16px 0;
  position: relative;
  height: 85px;
}

/* =======================
   SECTION KARTU TIM
======================= */
.teamSection {
  background-color: #f8f9fa;
  padding: 80px 20px;
}

/* Wrapper kartu */
.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  flex-wrap: wrap;
}

.tambahan{
 margin-top: 100px;
}

/* =======================
   MEDIA QUERY
======================= */
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .cardsWrapper {
    gap: 16px;
  }
  .container{ 
    background-size: 500% auto !important;  /* Membuat gambar lebih besar dengan !important */
    background-position: top center !important; /* Fokuskan gambar ke bagian atas */
    }
}
