/* =======================
   KARTU TIM
======================= */
.card {
  flex: 1 1 45%;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  min-width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 350px;
}

/* Hover effect */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.949);
}

/* Gambar */
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Overlay teks */
.cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
  color: white;
  text-align: left;
}

/* Nama & jabatan */
.cardOverlay h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.cardOverlay p {
  margin: 4px 0 0;
  font-size: 0.95rem;
  font-weight: 400;
}



/* Icon sosial */
.iconContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.iconContainer a {

  width: 50px;
  height: 50px;
  color: #0d2430;
  font-size: 1.1rem;
  /* transition: color 0.3s ease; */
  border-radius: 50%;
  background: #fff;
  object-fit: contain;
  padding-left: 17px;
  padding-top: 12px;

}

.iconContainer a:hover {

  color: #0d2430;
  background: #cdec76;
}

/* =======================
   MEDIA QUERY
======================= */
@media (min-width: 1024px) {
  .card {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    max-width: 90%;
    height: auto;
  }

  .cardImage {
    height: 250px;
  }
  .iconContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.iconContainer a {

  width: 30px;
  height: 30px;
  color: #0d2430;
  font-size: 0.9rem;
  /* transition: color 0.3s ease; */
  border-radius: 50%;
  background: #fff;
  object-fit: contain;
  padding-left: 8px;
  padding-top: 7px;

}
}
